@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

@screen dark-mode {
  header {    
    @apply bg-gray-900;    
  }
  section{
      @apply bg-gray-900;
  }
  footer{
      @apply bg-gray-900;
  }
}

